html {
  background-color: #00539F;
}

h1 {
  font-size: 60px;
  text-align: center;
}

p {
  font-size: 40px;
}

h1,
p {
  color: #17BC18;
}

body {
  font-family: "KaiTi", "楷体", "STKaiti", "Kaiti SC", "Kaiti TC", serif;
  width: 800px;
  margin: 0 auto;
  background-color: gray;
  padding: 40px 20px 20px 20px;
  border: 8px solid yellow;
}
