h1 {
  font-size: 120px;
  text-align: center;
}

p {
  font-size: 30px;
}

h1,
p {
  color: #17BC18;
}

body {
  font-family: "KaiTi", "楷体", "STKaiti", "Kaiti SC", "Kaiti TC", serif;
  width: 600px;
}
