p {
  display: block;
  margin: 0 auto;
  width: 210px;
  height: 30px;
  margin-top: 160px;
}

input {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 30px;
  margin-top: 30px;
}

button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  margin-top: 0px;
}
