html {
  font-size: 4em;
  font-family:
    "Open Sans", sans-serif; /* 这应该是你从 Google Fonts 得到的其余输出。 */
  background-color: #00539f;
}

h1 {
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 2;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #00539f;
}

body {
  width: 600px;
  margin: 30vh auto;
  background-color: #FF9500;
  padding: 5vh 20px 5vh 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}

ul {
  display: block;
  list-style-type: none;
  padding: 0;
}